<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table'>
        <thead>
            <tr>
              <th>Эл. почта</th>
              <th>Проблема</th>
              <th>Дата и время</th>
              <th>Действия</th>
            </tr>
        </thead>
        <tbody>
          <%- @requests.each do |request|%>
            <tr>
              <td><%=request.email%></td>
              <td><%=request.question%></td>
              <td><%=l(request.date)%><%=l(formatted_time(request.time))%></td>
              <td>
                <span class='btn-group pull-left'>
                    <%= link_to 'Подробнее', edit_operator_request_path(request), class: 'btn btn-primary btn-sm'%>
                    <%= link_to "Подтвердить", operator_request_accept_path(request), :method => :put, class: 'btn btn-sm btn-success' %>
                    <%= link_to 'Удалить', operator_request_path(request), method: :delete, class: 'btn btn-danger btn-sm' %>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>